
*.csv
DES/import random.py
DES/~Resource Usage__26828.twbr
DES/Resource Usage.twb
DES/~Resource Usage__26828.twbr
DES/Resource Usage.twb
*.twbr
*.twbr
DES/__pycache__/DES_NCCU_Model.cpython-310.pyc
DES/__pycache__/DES_NCCU_Model.cpython-310.pyc
DEAP Genetic Algorithm 3 NSGA II alternative.ipynb
DES/~Resource Usage__26828.twbr
LSOA_Dec_2011_PWC_in_England_and_Wales/LSOA_Dec_2011_PWC_in_England_and_Wales.shx
LSOA_Dec_2011_PWC_in_England_and_Wales/LSOA_Dec_2011_PWC_in_England_and_Wales.cpg
Other Attempts/DEAP Genetic Algorithm 4b.ipynb
Other Attempts/DEAP Genetic Algorithm5 NSGAII WorkingSimple.ipynb
LSOA_Dec_2011_PWC_in_England_and_Wales/LSOA_Dec_2011_PWC_in_England_and_Wales.shp.xml
LSOA_Dec_2011_PWC_in_England_and_Wales/LSOA_Dec_2011_PWC_in_England_and_Wales.shp
LSOA_Dec_2011_PWC_in_England_and_Wales/LSOA_Dec_2011_PWC_in_England_and_Wales.prj
LSOA_Dec_2011_PWC_in_England_and_Wales/LSOA_Dec_2011_PWC_in_England_and_Wales.dbf
LSOA_Dec_2011_PWC_in_England_and_Wales.shp
DES/~Resource Usage__26828.twbr
*.twb
*.twbr
DES/~Resource Usage__26828.twbr
DES/streamlit_app.py
DES/__pycache__/DES_NCCU_Model_Streamlit.cpython-310.pyc
.vscode/launch.json
DES/~Resource Usage__26828.twbr
DES/streamlit_app.py
