
*.csv
DES/import random.py
DES/~Resource Usage__26828.twbr
DES/Resource Usage.twb
DES/~Resource Usage__26828.twbr
DES/Resource Usage.twb
*.twbr
*.twbr
DES/__pycache__/DES_NCCU_Model.cpython-310.pyc
DES/__pycache__/DES_NCCU_Model.cpython-310.pyc
DEAP Genetic Algorithm 3 NSGA II alternative.ipynb
DES/~Resource Usage__26828.twbr
LSOA_Dec_2011_PWC_in_England_and_Wales/LSOA_Dec_2011_PWC_in_England_and_Wales.shx
LSOA_Dec_2011_PWC_in_England_and_Wales/LSOA_Dec_2011_PWC_in_England_and_Wales.cpg
Other Attempts/DEAP Genetic Algorithm 4b.ipynb
Other Attempts/DEAP Genetic Algorithm5 NSGAII WorkingSimple.ipynb
LSOA_Dec_2011_PWC_in_England_and_Wales/LSOA_Dec_2011_PWC_in_England_and_Wales.shp.xml
LSOA_Dec_2011_PWC_in_England_and_Wales/LSOA_Dec_2011_PWC_in_England_and_Wales.shp
LSOA_Dec_2011_PWC_in_England_and_Wales/LSOA_Dec_2011_PWC_in_England_and_Wales.prj
LSOA_Dec_2011_PWC_in_England_and_Wales/LSOA_Dec_2011_PWC_in_England_and_Wales.dbf
LSOA_Dec_2011_PWC_in_England_and_Wales.shp
DES/~Resource Usage__26828.twbr
*.twb
*.twbr
DES/~Resource Usage__26828.twbr
DES/streamlit_app.py
DES/__pycache__/DES_NCCU_Model_Streamlit.cpython-310.pyc
.vscode/launch.json
DES/~Resource Usage__26828.twbr
DES/streamlit_app.py
DES/~Resource Usage__26828.twbr
NWNODN Modelling Resources/LSOA_Dec_2011_PWC_in_England_and_Wales.shp.xml
NWNODN Modelling Resources/LSOA_Dec_2011_PWC_in_England_and_Wales.shx
NWNODN Modelling Resources/LSOA_Dec_2011_PWC_in_England_and_Wales/LSOA_Dec_2011_PWC_in_England_and_Wales.cpg
NWNODN Modelling Resources/LSOA_Dec_2011_PWC_in_England_and_Wales/LSOA_Dec_2011_PWC_in_England_and_Wales.dbf
NWNODN Modelling Resources/LSOA_Dec_2011_PWC_in_England_and_Wales/LSOA_Dec_2011_PWC_in_England_and_Wales.prj
NWNODN Modelling Resources/LSOA_Dec_2011_PWC_in_England_and_Wales/LSOA_Dec_2011_PWC_in_England_and_Wales.shp.xml
NWNODN Modelling Resources/LSOA_Dec_2011_PWC_in_England_and_Wales/LSOA_Dec_2011_PWC_in_England_and_Wales.shx
NWNODN Modelling Resources/LSOA_Dec_2011_PWC_in_England_and_Wales_2022_9100130659235394802.zip
NWNODN Modelling Resources/LSOA_Dec_2021_Boundaries_Generalised_Clipped_EW_BGC.zip
NWNODN Modelling Resources/LSOA_Dec_2021_Boundaries_Generalised_Clipped_EW_BGC/LSOA_2021_EW_BGC.cpg
NWNODN Modelling Resources/LSOA_Dec_2021_Boundaries_Generalised_Clipped_EW_BGC/LSOA_2021_EW_BGC.dbf
NWNODN Modelling Resources/LSOA_Dec_2021_Boundaries_Generalised_Clipped_EW_BGC/LSOA_2021_EW_BGC.prj
NWNODN Modelling Resources/LSOA_Dec_2021_Boundaries_Generalised_Clipped_EW_BGC/LSOA_2021_EW_BGC.shp
NWNODN Modelling Resources/LSOA_Dec_2021_Boundaries_Generalised_Clipped_EW_BGC/LSOA_2021_EW_BGC.shx
NWNODN Modelling Resources/lsoa_population_weighted_centroids_map.html
NWNODN Modelling Resources/map.html
NWNODN Modelling Resources/Test - 2.ipynb
NWNODN Modelling Resources/Test - 3.ipynb
NWNODN Modelling Resources/Test - 4.ipynb
NWNODN Modelling Resources/Test - 5.ipynb
NWNODN Modelling Resources/Test - 6.ipynb
NWNODN Modelling Resources/Test.ipynb
DES/Resource Usage.twb
DES/~Resource Usage__26828.twbr
DES/Resource Usage.twb
DES/~Resource Usage__26828.twbr
Badgernet_Activity_Extract.sql
DEAP Genetic Algorithm custom evol function.ipynb
DES/Resource Usage.twb
LSOA_Dec_2011_PWC_in_England_and_Wales.shx
DES/Resource Usage.twb
DES/Distributions.ipynb
DES/Resource Usage.twb
*.twbr
*.twb
Case for Change - Final (1).pptx
Data/NWNODN FLOW DATA 2122 and 2223 v0.1.zip
Data/Daysum.xlsx
Data/Episodes.xlsx
Data/NWNODN FLOW DATA 2122 and 2223 v0.1.xlsx
*.gz
ACD Report 2023 Final draft for NSG (1).docx
Scenarios to model.xlsx
NIC and LNU NCCR Standards v3 Modelling Edition.twbx
~$D Report 2023 Final draft for NSG (1).docx
Presentation NWNODN.pptx
